/* CSS Document */  
body {  
    font:12px arial;  
    color: #222;  
    text-align:center;  
    padding:35px; }  
  
#wrapper {  
    margin:0 auto;  
    padding-bottom:25px;  
    padding-top:25px;  
    background:#EBF4FB;  
    width:504px;  
    border:1px solid #ACD8F0; }  
  
#chatbox {  
    text-align:left;  
    margin:0 auto;  
    margin-bottom:25px;  
    padding:10px;  
    background:#fff;  
    height:270px;  
    width:430px;  
    border:1px solid #ACD8F0;  
    overflow:auto; }  
  
#sendtext {  
    width:395px;  
    border:1px solid #ACD8F0; }  
  
#sendbutton { width: 60px; }  
  
span.tovisitor { color: red; }
span.fromvisitor { color: blue; }